<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Tagesschau News</title>
</head>
<body>
  <div class="container">
    <h1>TAGESSCHAU NEWS</h1>
    <div class="news-container">
      <div class="selects">
        <form action="/news">
          <select name="bundesland" id="bundesland">
            <option value="1">Baden-Württemberg</option>
            <option value="2">Bayern</option>
            <option value="3">Berlin</option>
            <option value="4">Brandenburg</option>
            <option value="5">Bremen</option>
            <option value="6">Hamburg</option>
            <option value="7">Hessen</option>
            <option value="8">Mecklenburg-Vorpommern</option>
            <option value="9">Niedersachsen</option>
            <option value="10">Nordrhein-Westfalen</option>
            <option value="11">Rheinland-Pfalz</option>
            <option value="12">Saarland</option>
            <option value="13">Sachsen</option>
            <option value="14">Sachsen-Anhalt</option>
            <option value="15">Schleswig-Holstein</option>
            <option value="16">Thüringen</option>
          </select>
          <select name="themengebiet" id="themengebiet">
            <option value="inland">inland</option>
            <option value="ausland">ausland</option>
            <option value="wirtschaft">wirtschaft</option>
            <option value="sport">sport</option>
            <option value="video">video</option>
            <option value="investigativ">investigativ</option>
            <option value="wissen">wissen</option>
          </select>
          <button type="submit">Suchen</button>
        </form>
      </div>
      <h2> Test</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, explicabo fuga, voluptatibus quidem blanditiis, adipisci perferendis voluptate incidunt qui a rem quo. Qui voluptas veritatis earum doloremque architecto hic quae.
      Repellendus reiciendis officia debitis laboriosam quam voluptatibus a molestias sit itaque aliquam magnam, culpa repudiandae maxime! Esse alias iusto illo repudiandae quis et sed dolor impedit excepturi, consectetur reiciendis harum.
      Sunt accusantium quam voluptas est aliquam aperiam dolores voluptatem, nobis fugiat at nisi voluptates fugit, repellat, modi reiciendis cupiditate expedita consequatur! Obcaecati dolorum placeat fugit animi, minima blanditiis ab vel?</p>
    </div>
  </div>
  
</body>
</html>