<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Tagesschau News</title>
</head>
<body>
  <div class="container">
    <div class="news-container">
      <div class="selects">
        <form action="/news" method="post">
          <select name="bundesland" id="bundesland">
            <option value="1">Baden-Württemberg</option>
            <option value="2">Bayern</option>
            <option value="3">Berlin</option>
            <option value="4">Brandenburg</option>
            <option value="5">Bremen</option>
            <option value="6">Hamburg</option>
            <option value="7">Hessen</option>
            <option value="8">Mecklenburg-Vorpommern</option>
            <option value="9">Niedersachsen</option>
            <option value="10">Nordrhein-Westfalen</option>
            <option value="11">Rheinland-Pfalz</option>
            <option value="12">Saarland</option>
            <option value="13">Sachsen</option>
            <option value="14">Sachsen-Anhalt</option>
            <option value="15">Schleswig-Holstein</option>
            <option value="16">Thüringen</option>
          </select>
          <select name="themengebiet" id="themengebiet">
            <option value="inland">inland</option>
            <option value="ausland">ausland</option>
            <option value="wirtschaft">wirtschaft</option>
            <option value="sport">sport</option>
            <option value="video">video</option>
            <option value="investigativ">investigativ</option>
            <option value="wissen">wissen</option>
          </select>
          <button type="submit">Suchen</button>
        </form>
      </div>
      
      <div class="news-content">
        <% for (let i = 0; i < 5 ; i++) {%>
          <h2> <%= locals.content[i].title %></h2>
          <p> <%= locals.content[i].firstSentence %></p>
          <a href="<%= locals.content[i].detailsweb %>" target="_blank">Mehr lesen</a>
          
          <% } %> 
      </div>
    </div>
    
  </div>
  
</body>
</html>